<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @parent.nom %>
</p>

<p>
  <strong>Prénom:</strong>
  <%= @parent.prenom %>
</p>

<p>
  <strong>Date de naissance:</strong>
  <%= @parent.date_de_naissance %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @parent.adresse %>
</p>

<p>
  <strong>Téléphone:</strong>
  <%= @parent.telephone %>
</p>

<%= link_to 'Editer', edit_parent_path(@parent) %> |
<%= link_to 'Retour', parents_path %>
